@import 'tailwindcss';

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-highlight: var(--color-violet-700);
  --color-lowlight: var(--color-violet-800);

  --color-darkest: var(--color-gray-800);
  --color-dark: var(--color-gray-600);
  --color-medium: var(--color-gray-400);
  --color-light: var(--color-gray-300);
  --color-lightest: var(--color-gray-100);

  --color-error: var(--color-rose-400);
  --color-success: var(--color-green-600);

  --font-caveat: var(--font-caveat);
  --font-inter: var(--font-inter);
}

body {
  background: var(--color-lightest);
  color: var(--color-dark);
}
