<header id="header" class="flex w-full flex-col items-center p-8">
  <h1 class="m-6 text-center text-4xl lg:m-10">
    <slot />
  </h1>
  <nav class="flex gap-6 text-lg">
    <a href="#about">About</a>
    <a href="#books">Books</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
  </nav>
</header>
